.root {
  font-size: 16px;
}

body {
  background-image: url('./images/tokyo-night.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#app, #root {
  display: flex;
  width: 100%;
}

.navbar-close {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: #2A2D43;
  transition: 200ms ease;
  z-index: 1000;
}

.navbar-open {
  width: 16rem;
  height: 100vh;
  position: fixed;
  background-color: #2A2D43;
  transition: 200ms ease;
  z-index: 1000;
}

.navbar-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item{
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-tab {
  display: flex;
  align-items: center;
  height: 5rem;
  color: rgb(65, 204, 199);
  text-decoration: none;
}

.nav-tab:hover {
  color: rgb(225, 173, 173);
  background: rgb(0, 0, 0);
  transition: 600ms ease;
  cursor: pointer;
}

.nav-tab svg {
  min-width: 2rem;
  margin: 0 1.5rem;
}

.nav-text-close {
  display: none;
  margin: 1rem;
}

.nav-text-open {
  display: block;
  margin: 1rem;
}

#username {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
  letter-spacing: 0.3ch;
}

#navbar:hover #username svg{
  transform: rotate(-90deg);
  transition: transform 600ms;
}

.postbar-close {
  margin-left: 5rem;
  width: 0;
  height: 100vh;
  position: fixed;
  background-color: #414361;
  transition: 400ms ease;
  z-index: 1;
}

.postbar-open {
  margin-left: 5rem;
  width: 20rem;
  height: 100vh;
  position: fixed;
  background-color: #414361;
  transition: 400ms ease;
  z-index: 1;
  overflow-y: scroll;
}

.post-close {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem 1rem;
  display: none;
  z-index: 1;
}

.post-open {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem 1rem;
  display: block;
  z-index: 1;
}

.post-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: rgb(65, 204, 199);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  margin: 0.5rem;
  font-size: 1.5rem;
}

.post-header svg {
  width: 1.5rem;
}

.xicon {
  height: 1.5rem;
  margin-left: 0.5rem;
}

.xicon:hover {
  color: rgb(225, 173, 173);
  transition: 600ms;
  cursor: pointer;
}

.post-form {
  justify-content: flex-end;
  display: block;
}

.post-form label {
  color: white;
}

.form-address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 18rem;
}

.field {
  margin-bottom: 1rem;
  text-align: center;
  max-width: 18rem;
}

.inline.fields {
  display: flex;
  justify-content: space-between;
}

.ui.input, .ui.form textarea {
  width: 18rem;
}

.ui.fluid.dropdown {
  width: 18rem;
}

.ui.button {
  background-color: rgb(65, 204, 199);
  width: 6rem;
}

.field.post {
  margin-top: 2rem;
}

.ui.checkbox label, .ui.checkbox+label {
  color: white;
}

input {
  font-family: Lato;
}

.display-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.display-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 400ms, transform 400ms;
}

.display-exit {
  opacity: 0;
  transform: translateX(-10%);
  transition: .3s ease-in-out;
}

.display-exit-active {
  opacity: 0;
  transform: translateX(10%);
  transition: .3s ease-in-out;
  transition: opacity 300ms, transform 300ms;
}

.histories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 18rem;
}

.histories h3 {
  color: white;
  text-align: right;
  margin-right: 1rem;
}

div.leaflet-top.leaflet-left {
  right: 1rem;
}

.main-container {
  margin-left: 5rem;
  height: 100vh;
  width: 100%;
}

.header {
  /* background-color: #d45a5a; */
  height: 4rem;
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 1rem 1rem;
}

.header-title {
  margin-right: auto;
  font-size: 3rem;
  color: white;
  text-shadow: 3px 4px 3px rgb(146, 37, 42);
  font-family: 'Bebas Neue', cursive;
  margin: 0;
}

.header-text {
  color: white;
  text-shadow: 1px 1px 1px rgb(165, 59, 114);
  font-family: 'Bebas Neue', cursive;
  font-size: 2.5rem;
  margin: 0;
  cursor: pointer;
}

.header-bar {
  display: flex;
  justify-content: space-between;
  width: 34%;
  padding: 0 2rem;
}

.main {
  display: flex;
  height: 90%;
}

.map-container {
  height: 100%;
}

.leaflet-popup-content-wrapper {
  display: flex;
  flex-direction: column;
}

.leaflet-popup-content-wrapper h3 {
  margin: 0;
  max-width: 18rem;
}

.popup {
  font-size: 13px;
  font-family: "Lato",'Helvetica Neue',Arial,Helvetica,sans-serif;
  text-align: center;
}

.popup h4 {
  font-family: "Lato",'Helvetica Neue',Arial,Helvetica,sans-serif;
  margin: 0;
}

.popup-name {
  display: flex;
  justify-content: flex-start;
}

.posted-by {
  text-align: left;
  margin: 4px 5px;
}

.leaflet-popup-content {
  margin: 5px;
  max-width: 18rem;
}

.popup-text {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.image-container {
  display: flex;
  justify-content: center;
}

.popup-image {
  max-height: 10rem;
  width: 18rem;
  object-fit: cover;
  display: block;
}

.popup-image-large {
  max-height: 24rem;
  max-width: 24rem;
  transform: scale(1.25);
  object-fit: contain;
  top: 2rem;
}

.popup p {
  margin: 0 0 0.25rem 0;
}

.popup:last-child p {
  margin: 0;
}

.item-one {
  display: flex;
  justify-content: space-around;
  text-transform: capitalize;
  text-align: left;
}

.item-two {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: right;
}

.title {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  background-color: rgb(81, 85, 116);
  padding: 0.5rem;
  width: 18rem;
  border-radius: 4px;
}

.histories-list {
  list-style: none;
  padding: 0;
  margin: 0;
  color: white;
}

.accordion.ui.inverted {
  margin-bottom: 1rem;
}

.history-title {
  display: flex;
  justify-content: space-between;
  height: 2rem;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: capitalize;
  flex: 1;
  padding: 0 0.75rem;
}

.history-title p {
  margin: 0;
}

.ui.orange.tag.label,
.ui.red.tag.label,
.ui.blue.tag.label {
  height: 2rem;
  bottom: 6px;
  left: 4px;
  margin-left: auto;
}

.history-datetime {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  margin-top: 5px;
}

.history-image-container {
  position: relative;
  flex-grow: 1;
}

.history-image {
  max-width: 18rem;
  object-fit: cover;
  position: relative;
}

.search.plus.icon {
  position: absolute;
  font-size: 1.5rem;
  left: 4px;
  top: 8px;
}

.add.square.icon.from-history {
  position: absolute;
  font-size: 1.5rem;
  right: 4px;
  top: 8px;
}

.add.square.icon.popup {
  font-size: 1.1rem;
}

.image-modal {
  max-height: 35rem;
  object-fit: contain;
  margin: auto;
}

.image.content {
  justify-content: center;
}

.card-details {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  color: rgb(65, 204, 199);
}

.history-content {
  width: 18rem;
}

.history-content p {
  margin: .25rem 0;
}

.card-left {
  width: 60%;
}

.card-right {
  display: flex;
  flex-direction: column;
}

.card-item {
  margin: 0.5rem;
  width: 47%;
  border-radius: 6px;
  height: fit-content;
  background-color: #414361;
  color: white;
}

.card-image-container {
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}

.card-image-container:hover,
.active-header:hover,
.dash-drag:hover,
.search.plus.icon:hover,
.add.square.icon:hover {
  cursor:pointer;
}

.card-image {
  width: 100%;
  height: 14vw;
  object-fit: cover;
}

.card-content-close {
  height: 0;
  background-color: #333550;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}

.card-content-open {
  height: fit-content;
  transition: all 400ms ease;
  background-color: #333550;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  padding-bottom: 0.5rem;
}

.card-close {
  display: none;
}

.card-open {
  display: block;
  padding: 0 0.5rem;
}

.claim-button {
  display: flex;
}

.active-header {
  background-color: #414361;
  text-transform: capitalize;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  padding: 0 5px 5px 5px;
}


.active-name {
  font-weight: 1000;
  font-size: 1.4rem;
  margin: 0;
}

.add.square.icon.from-active {
  position: absolute;
  font-size: 1.5rem;
  right: 0px;
  top: 5px;
}

.ui.icon.input>input {
  border-radius: 20px;
  margin: 1rem 0;
}

.ui.icon.input {
  width: 16rem;
  margin: auto;
  display: flex;
}

.ui.animated.button, .ui.inverted.red.button {
  height: 2rem;
  width: 6rem;
  right: 0rem;
  display: flex;
  justify-content: center;
}

.visible.content {
  bottom: 3px;
}

.section {
  display: flex;
  background-color: rgba(255, 255, 255, 0.4);
  width: 100%;
}

.color-block {
  transform: scale(1.25);
}

.dashboard {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0.5rem;
}

.dash-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dash-item:first-child {
  height: 18rem;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
}

.dash-item {
  height: 8rem;
  width: 49%;
  margin-bottom: 1rem;
  border-radius: 6px;
  background-color: #333550;
  overflow: hidden;
  box-shadow: 0 0 5px rgb(119, 116, 116, 0.3);
  display: flex;
  flex-direction: row;
  border-radius: 1px solid black;
}

.dash-content {
  width: 50%;
  color: white;
  background-color: #333550;
}

.dash-top {
  display: flex;
  justify-content: space-between;
}

.dash-drag-container {
  margin: 0.25rem 0.25rem 0 0;
  display: flex;
  flex-direction: column;
}

.redriver.icon.dash-drag {
  margin: 0;
  font-size: 1.5rem;
}

.remove.icon.dash-drag {
  margin: auto;
  font-size: 1.3rem;
  background-color: white;
  color: black;
  border-radius: 4px;
  width: 18px;
}

.dash-name {
  padding: 0 5px;
  font-weight: 1000;
  font-size: 1.4rem;
  margin: 0;
  text-transform: capitalize;
}

.dash-image {
  width: 50%;
  height: 100%;
  top: 0;
  position: sticky;
  object-fit: cover;
}

.dash-datetime {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  margin: 2px 0;
  color: rgb(65, 204, 199);
  flex-direction: column;
  text-transform: capitalize;
}

.dash-comment {
  padding: 0 5px;
  margin: 2px 0;
}

.empty-dash {
  width: 100%;
  display: flex;
  justify-content: center;
}

.empty {
  font-family: Lato;
  color: white;
  text-shadow: 1px 1px 4px rgb(165, 59, 114);
  text-transform: capitalize;
}

.active-div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.username {
  color: rgb(225, 173, 173);
}