.root {
  font-size: 16px;
}

body, html {
  height: 100%;
}

#app, #root {
  display: flex;
  height: 100%;
  width: 100%;
}

.navbar-close {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: #2A2D43;
  transition: 200ms ease;
  z-index: 1000;
}

.navbar-open {
  width: 16rem;
  height: 100vh;
  position: fixed;
  background-color: #2A2D43;
  transition: 200ms ease;
  z-index: 1000;
}

.navbar-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item{
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-tab {
  display: flex;
  align-items: center;
  height: 5rem;
  color: rgb(65, 204, 199);
  text-decoration: none;
  transition: 600ms;
}

.nav-tab:hover {
  color: rgb(233, 165, 62);
  background: rgb(0, 0, 0);
  cursor: pointer;
}

.nav-tab svg {
  min-width: 2rem;
  margin: 0 1.5rem;
}

.nav-text-close {
  display: none;
  margin: 1rem;
}

.nav-text-open {
  display: block;
  margin: 1rem;
}

#username {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
  letter-spacing: 0.3ch;
}

#navbar:hover #username svg{
  transform: rotate(-90deg);
  transition: transform 600ms;
}

.postbar-close {
  margin-left: 5rem;
  width: 0;
  height: 100vh;
  position: fixed;
  background-color: #414361;
  transition: 400ms ease;
  z-index: 1;
}

.postbar-open {
  margin-left: 5rem;
  width: 20rem;
  height: 100vh;
  position: fixed;
  background-color: #414361;
  transition: 400ms ease;
  z-index: 1;
  overflow-y: scroll;
}

.post-close {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem 1rem;
  display: none;
  z-index: 1;
}

.post-open {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem 1rem;
  display: block;
  z-index: 1;
}

.post-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: rgb(65, 204, 199);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  margin: 0.5rem;
  font-size: 1.5rem;
  transition: 600ms;
}

.post-header svg {
  width: 1.5rem;
}

.xicon {
  height: 1.5rem;
  margin-left: 0.5rem;
}

.xicon:hover {
  color: rgb(233, 165, 62);
  transition: 600ms;
  cursor: pointer;
}

.post-form {
  justify-content: flex-end;
  transition: 600ms ease;
  display: block;
}

.post-form label {
  color: white;
}

.form-address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 18rem;
}

.field {
  margin-bottom: 1rem;
  text-align: center;
  max-width: 18rem;
}

.inline.fields {
  display: flex;
  justify-content: space-between;
}

.ui.input, .field textarea {
  width: 18rem;
}

.ui.fluid.dropdown {
  width: 18rem;
}

.ui.button {
  background-color: rgb(65, 204, 199);
}

.ui.checkbox label, .ui.checkbox+label {
  color: white;
}

input {
  font-family: Lato;
}

.display-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.display-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 400ms, transform 400ms;
}

.display-exit {
  opacity: 0;
  transform: translateX(-10%);
  transition: .3s ease-in-out;
}

.display-exit-active {
  opacity: 0;
  transform: translateX(10%);
  transition: .3s ease-in-out;
  transition: opacity 300ms, transform 300ms;
}

.histories {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.histories h3 {
  color: white;
  text-align: right;
  margin-right: 1rem;
}

div.leaflet-top.leaflet-left {
  right: 1rem;
}

.main-container {
  margin-left: 5rem;
  background-color: rgb(244, 239, 239);
  height: 100%;
  width: 100%;
}

.header {
  background-color: rgb(175, 78, 128);
  text-align: right;
  height: 4rem;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 1rem 4rem;
}

.header h1 {
  color: white;
  text-shadow: 1px 1px 1px rgb(165, 59, 114);
  font-family: 'Bebas Neue', cursive;
  font-size: 3rem;
}

.main {
  display: flex;
  height: 90%;
}

.leaflet-popup-content-wrapper {
  display: flex;
  flex-direction: column;
  background-color: rgb(244, 239, 239);
}

.leaflet-popup-content-wrapper h3 {
  margin: 0;
  max-width: 14rem;
}

.popup {
  font-size: 13px;
  font-family: "Lato",'Helvetica Neue',Arial,Helvetica,sans-serif;
  text-align: center;
}

.popup h4 {
  font-family: "Lato",'Helvetica Neue',Arial,Helvetica,sans-serif;
  margin: 0;
}

.leaflet-popup-content {
  margin: 5px;
  max-width: 14rem;
}

.popup-text {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.popup-image {
  height: 10rem;
  width: 14rem;
  object-fit: cover;
  display: block;
  background-color: rgb(218, 203, 203);
}

.popup-image-large {
  height: 100%;
  width: 18rem;
  object-fit: contain;
  right: 2rem;
  position: relative;
}

.popup p {
  margin: 0 0 0.25rem 0;
}

.popup:last-child p {
  margin: 0;
}

.item-one {
  display: flex;
  justify-content: space-around;
  text-transform: capitalize;
  text-align: left;
}

.item-two {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: right;
}

.title {
  margin-bottom: 0;
}

.histories-list {
  list-style: none;
  padding: 0;
  margin: 0;
  color: white;
}

.history-title {
  display: flex;
  justify-content: space-between;
  height: 2rem;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0 0 0.5rem 0;
}

.history-image {
  flex-grow: 1;
  max-width: 18rem;
  object-fit: cover;
}

.history-image-large {
  flex-grow: 1;
  max-width: 18rem;
  transform: scale(1.3);
  object-fit: cover;
}

.history-details {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  color: white;
}

.history p {
  margin: .25rem 0;
}

.history-left {
  width: 60%;
}

.history-right {
  display: flex;
  flex-direction: column;
}