.root {
  font-size: 16px;
}

body {
  background-image: url('./images/bench.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#app, #root {
  display: flex;
  width: 100%; 
}

.navbar-close {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: #2A2D43;
  transition: 200ms ease;
  z-index: 1000;
}

.navbar-open {
  width: 16rem;
  height: 100vh;
  position: fixed;
  background-color: #2A2D43;
  transition: 200ms ease;
  z-index: 1000;
}

.navbar-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item{
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-tab {
  display: flex;
  align-items: center;
  height: 5rem;
  color: rgb(65, 204, 199);
  text-decoration: none;
}

.nav-tab:hover {
  color: rgb(252, 251, 250);
  background: rgb(0, 0, 0);
  transition: 600ms ease;
  cursor: pointer;
}

.nav-tab svg {
  min-width: 2rem;
  margin: 0 1.5rem;
}

.nav-text-close {
  display: none;
  margin: 1rem;
}

.nav-text-open {
  display: block;
  margin: 1rem;
}

#username {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
  letter-spacing: 0.3ch;
}

#navbar:hover #username svg{
  transform: rotate(-90deg);
  transition: transform 600ms;
}

.postbar-close {
  margin-left: 5rem;
  width: 0;
  height: 100vh;
  position: fixed;
  background-color: #414361;
  transition: 400ms ease;
  z-index: 1;
}

.postbar-open {
  margin-left: 5rem;
  width: 20rem;
  height: 100vh;
  position: fixed;
  background-color: #414361;
  transition: 400ms ease;
  z-index: 1;
  overflow-y: scroll;
}

.post-close {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem 1rem;
  display: none;
  z-index: 1;
}

.post-open {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem 1rem;
  display: block;
  z-index: 1;
}

.post-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: rgb(65, 204, 199);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  margin: 0.5rem;
  font-size: 1.5rem;
}

.post-header svg {
  width: 1.5rem;
}

.xicon {
  height: 1.5rem;
  margin-left: 0.5rem;
}

.xicon:hover {
  color: rgb(252, 251, 250);
  transition: 600ms;
  cursor: pointer;
}

.post-form {
  justify-content: flex-end;
  display: block;
}

.post-form label {
  color: white;
}

.form-address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 18rem;
}

.field {
  margin-bottom: 1rem;
  text-align: center;
  max-width: 18rem;
}

.inline.fields {
  display: flex;
  justify-content: space-between;
}

.ui.input, .ui.form textarea {
  width: 18rem;
}

.ui.fluid.dropdown {
  width: 18rem;
}

.ui.button {
  background-color: #EF476F;
}

.field.post {
  margin-top: 2rem;
}

.ui.checkbox label, .ui.checkbox+label {
  color: white;
}

input {
  font-family: Lato;
}

.display-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.display-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 400ms, transform 400ms;
}

.display-exit {
  opacity: 0;
  transform: translateX(-10%);
  transition: .3s ease-in-out;
}

.display-exit-active {
  opacity: 0;
  transform: translateX(10%);
  transition: .3s ease-in-out;
  transition: opacity 300ms, transform 300ms;
}

.histories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 18rem;
}

.histories h3 {
  color: white;
  text-align: center;
  margin-right: 1rem;
}

div.leaflet-top.leaflet-left {
  right: 1rem;
}

.main-container {
  height: 100vh;
  width: 100%;
  background-image: url('./images/dune-rotatedclock.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 70px;
}

.header {
  height: 4rem;
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 1rem 1rem;
}

.header-title {
  margin-right: auto;
  font-size: 3rem;
  color: white;
  text-shadow: 3px 4px 3px rgb(146, 37, 42);
  font-family: 'Bebas Neue', cursive;
  margin: 0;
}

.header-text {
  color: white;
  text-shadow: 1px 1px 1px rgb(165, 59, 114);
  font-family: 'Bebas Neue', cursive;
  font-size: 2.5rem;
  margin: 0;
  cursor: pointer;
  transition: 400ms;
}

.header-text-large {
  filter: drop-shadow(6px 6px rgb(165, 59, 114));
  transition: 400ms ease-in-out;
  transform: scale(1.2);
  color: white;
  font-family: 'Bebas Neue', cursive;
  font-size: 2.5rem;
  margin: 0;
  cursor: pointer;
}

.header-text:hover {
  filter: drop-shadow(9px 9px rgb(165, 59, 114));
  transition: 400ms ease-in-out;
  transform: scale(1.2);
}

.header-bar {
  display: flex;
  justify-content: space-between;
  width: 36%;
  padding: 0 2rem;
  margin-right: 1rem;
}

.main {
  display: flex;
  height: 90%;
}

.map-container {
  height: 100%;
}

#current-address {
  margin-top: 4px;
}

.leaflet-popup-content-wrapper {
  display: flex;
  flex-direction: column;
  background: #EADEDA;
  color: #2D3142;
}

.leaflet-popup-content-wrapper h3 {
  margin: 0;
  max-width: 18rem;
}

.popup {
  font-size: 13px;
  font-family: "Lato",'Helvetica Neue',Arial,Helvetica,sans-serif;
  text-align: center;
}

.popup h4 {
  font-family: "Lato",'Helvetica Neue',Arial,Helvetica,sans-serif;
  margin: 0;
}

.popup-name {
  display: flex;
  justify-content: flex-start;
  text-transform: capitalize;
}

.posted-by {
  text-align: left;
  margin: 4px 5px;
}

.leaflet-popup-content {
  margin: 5px;
  max-width: 18rem;
}

.popup-text {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.image-container {
  display: flex;
  justify-content: center;
}

.popup-image {
  max-height: 10rem;
  width: 18rem;
  object-fit: cover;
  display: block;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
}

.popup-image-large {
  max-height: 24rem;
  max-width: 24rem;
  transform: scale(1.25);
  object-fit: contain;
  top: 2rem;
  box-shadow: 2px 2px 5px black;
}

.popup:last-child p {
  margin: 0 0 0.25rem 0;
}

.comment {
  margin: 3px 3px
}

.title {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  text-shadow: 1px 1px 3px black;
  background-color: rgb(81, 85, 116);
  padding: 0.5rem;
  width: 18rem;
  border-radius: 4px;
}

.histories-list {
  font-family: 'Spartan', sans-serif;
  list-style: none;
  padding: 0;
  margin: 0;
  color: white;
}

.accordion.ui.inverted {
  margin-bottom: 1rem;
}

.history-name {
  display: flex;
  justify-content: space-between;
  height: 2rem;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: capitalize;
  flex: 1;
  padding: 0 0.75rem;
}

.history-name p {
  margin: 0;
}

.ui.orange.tag.label,
.ui.red.tag.label,
.ui.blue.tag.label {
  height: 2rem;
  bottom: 6px;
  left: 4px;
  margin-left: auto;
}

.history-datetime {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  margin-top: 5px;
  font-family: Lato;
}

.history-image-container {
  position: relative;
  flex-grow: 1;
}

.history-image {
  max-width: 18rem;
  object-fit: cover;
  position: relative;
}

.history-details {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  color: white;
  font-weight: bold;
  margin-top: 2px;
}

.search.plus.icon {
  position: absolute;
  font-size: 1.5rem;
  left: 4px;
  top: 8px;
  color: white;
  text-shadow: 1px 1px 2px #2D3142;
}

.add.square.icon.from-history {
  position: absolute;
  font-size: 1.5rem;
  right: 4px;
  top: 8px;
  color: white;
  text-shadow: 1px 1px 2px #2D3142;
}

.add.square.icon.popup {
  font-size: 1.1rem;
  color: white;
  text-shadow: 1px 1px 2px #2D3142;
}

.image-modal {
  max-height: 35rem;
  box-shadow: 1rem 1rem 16px rgba(165, 59, 114, 0.4);
  object-fit: contain;
  margin: auto;
}

.image.content {
  justify-content: center;
}

.card-details {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  color: #2D3142;
  font-weight: bold;
  margin-top: 2px;
}

.card-section {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}

.history-content {
  width: 18rem;
}

.history-content p {
  margin: .25rem 0;
}

.card-left {
  width: 60%;
  text-align:left;
}

.card-right {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.active-item {
  margin: 0.5rem;
  border-radius: 6px;
  height: fit-content;
  background-color: rgb(2, 128, 144);
  color: #2D3142;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, .5);
}

.active-image-container {
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}

.active-image-container:hover,
.active-header:hover,
.dash-drag:hover,
.search.plus.icon:hover,
.add.square.icon:hover,
.map.icon:hover,
.more-details,
.dash-more-details {
  cursor:pointer;
}

.active-image {
  width: 100%;
  height: 14vw;
  object-fit: cover;
}

.active-header {
  background-color: rgb(68, 159, 175);
  text-transform: capitalize;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 0 0 6px 6px;
  padding: 0 5px 5px 5px;
  font-family: Lato;
}

.active-name {
  font-weight: 1000;
  font-size: 1.4rem;
  margin: 0;
  display: inline-block;
}

.active-content-close {
  height: 0;
  background-color: rgb(2, 128, 144);
  border-radius: 6px;
  transition: 400ms;
}

.active-content-open {
  height: fit-content;
  background-color: rgb(2, 128, 144);
  border-radius: 6px;
  padding-bottom: 0.5rem;
}

.card-close {
  display: none;
}

.card-open {
  display: block;
  padding: 0 0.5rem;
  transition: 400ms;
}

.claim-button {
  display: flex;
  justify-content: flex-start;
}

.add.square.icon.from-active {
  position: absolute;
  font-size: 1.5rem;
  right: 0px;
  top: 5px;
  color: white;
  text-shadow: 1px 1px 2px #2D3142;
}

.ui.icon.input>input {
  border-radius: 20px;
  margin: 1rem 0;
}

.ui.icon.input {
  width: 16rem;
  margin: auto;
  display: flex;
}

.ui.animated.button, .ui.inverted.red.button {
  height: 2rem;
  width: 6rem;
  right: 0rem;
  display: flex;
  justify-content: center;
}

.visible.content {
  bottom: 3px;
}

.section {
  display: flex;
  background-color: rgba(255, 255, 255, 0.4);
  width: 100%;
  border-radius: 10px;
  margin-right: 0.3rem;
}

.color-block {
  transform: scale(1.25);
  filter: drop-shadow(10px 10px rgb(165, 59, 114));
}

.dashboard-div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0.5rem;
}

.dash-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
}

.dash-item:first-child {
  height: 18rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .8);
  scrollbar-width: thin;
}

.dash-item {
  height: 8rem;
  width: 49%;
  margin-bottom: 1rem;
  border-radius: 6px;
  background-color: #EADEDA;
  overflow: hidden;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
  display: flex;
  flex-direction: row;
  border-radius: 1px solid black;
}

.dash-image {
  width: 50%;
  height: 100%;
  top: 0;
  position: sticky;
  object-fit: cover;
}

.dash-content {
  width: 50%;
  color: #2D3142;
  background-color: #EADEDA;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.dash-head {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 5px;
}

.dash-top {
  display: flex;
  justify-content: space-between;
}

.dash-body {
  width: 100%;
  height: auto;
}

.claim-details {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  color: #2D3142;
  font-weight: bold;
  margin: 2px 2px 10px 2px;
  text-align: center
}

.congrats {
  text-align: left;
  color: #EADEDA;
  font-weight: bold;
  text-shadow: 2px 2px 2px #F45B69;
}

.dash-drag-container {
  margin: 0.25rem 0.25rem 0 0;
  display: flex;
  flex-direction: column;
}

.angle.double.up.icon.dash-drag {
  margin: 0;
  font-size: 1.5rem;
  color: white;
  text-shadow: 1px 1px 2px #2D3142;
  transform: rotate(-45deg);
}

.remove.icon.dash-drag {
  margin: auto;
  font-size: 1.3rem;
  color: white;
  text-shadow: 1px 1px 2px #2D3142;
  border-radius: 4px;
  width: 18px;
}

.dash-name {
  font-weight: 1000;
  font-size: 1.4rem;
  margin: 0;
  text-transform: capitalize;
  display: inline-block;
}

.dash-tab-active {
  background: rgb(102, 168, 180);
  min-height: 99px;
  padding: 5px 0;
}

.dash-tab-inactive {
  display: none;
}

.dash-distance-duration {
  display: flex;
  justify-content: space-between;
  margin: 8px 6px 4px 6px;
  flex-direction: column;
  text-transform: capitalize;
  font-weight: bold;
}

.dash-step {
  padding: 4px;
}

.dash-details {
  padding: 0 5px;
  min-height: 99px;
}

.dash-more-details {
  background-color:rgb(111, 187, 201);
  padding: 4px 10px;
}

.dash-transit-details {
  margin: 4px 8px;
}

.dash-direction-mode {
  display: flex;
  justify-content: space-evenly;
  margin: 5px 0 7px 0;
}

.dash-direction-mode svg {
  cursor: pointer;
}

.mode-highlight {
  background: #028090;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 4px;
}

.directions-icon-walking {
  width: 1.2rem;
}

.directions-icon-transit {
  width: 1.5rem;
}

.directions-icon-driving {
  width: 2.1rem;
}

.dash-directions-button {
  display: flex;
  margin: 0 auto;
}

.dash-datetime {
  display: flex;
  justify-content: space-between;
  margin: 2px 0;
  flex-direction: column;
  text-transform: capitalize;
  font-weight: bold;
}

.dash-directions {
  justify-content: center;
  display: flex;
  flex-direction: column;
  min-height: 99px;
}

.dash-claims {
  display: flex;
  flex-direction: column;
  padding: 0 5px;
  min-height: 99px;
}

.dash-comment {
  margin: 2px 0;
  padding: 0 5px;
}

.map.icon.center-button {
  position: absolute;
  bottom: 10px;
  left: 5px;
  color: white;
}

.empty-dash {
  width: 100%;
  display: flex;
  justify-content: center;
}

.tab {
  display: flex;
  position: relative;
}

.tab-pane-active {
  background: rgb(102, 168, 180);
  padding: 6px;
  border-radius: 9px 9px 0 0;
  font-weight: bold;
  cursor: pointer;
}

.tab-pane-inactive {
  background: rgb(2, 128, 144);
  padding: 6px;
  border-radius: 9px 9px 0 0;
  font-weight: bold;
  cursor: pointer;
}

.empty {
  font-family: 'Spartan', sans-serif;
  color: white;
  text-transform: capitalize;
  text-transform: uppercase;
}

.active-div {
  width: 100%;
}

.active-search {
  background-color:rgba(255, 255, 255, 0.6);
  border-radius: 10px 10px 3px 3px;
}

.active-container {
  width: 36%;
  display: flex;
  overflow-y: auto;
  position: fixed;
  right: 0;
  height: 79vh;
  margin-right: 0.2rem;
}

.column-one {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.column-two {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.username {
  color: rgb(230, 124, 124);
  text-shadow: 1px 1px 1px #2D3142;
}

.star.icon {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 1px #2D3142;
}

.error {
  color: #E3655B;
  text-shadow: 1px 1px 1px #2D3142;
}

.ui.page.modals.dimmer.transition.visible.active {
  background-image: url('../src/images/curbalert-logo.png');
  background-size: contain;
  background-repeat: repeat-x;
  background-position: 0 0;
  animation: slide 15s linear infinite;
}

@keyframes slide {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 200% 0;
  }
}

.leaflet-div-icon {
  background: transparent;
  border: none;
}

#user {
  color: #EB5E55;
  font-size: 2.5rem;
  bottom: 1.25rem;
  position:relative;
}

#item {
  color: #00BFB3;
  font-size: 2.5rem;
  bottom: 1.25rem;
  position:relative;
}

#step {
  color: rgb(47, 147, 206);
  font-size: 2rem;
  bottom: 1rem;
  position:relative;
}

.step-distance-duration {
  display: flex;
  justify-content: space-around;
}

.instructions {
  font-weight: bold;
}

.transit-details > * {
  text-align: left;
  margin: 5px;
}

.transit-details {
  margin-bottom: 5px;
}

.more-details:hover {
  cursor: pointer;
}

.direction-details {
  margin: 1px 6px;
}

.transit-details img {
  font-size: .85rem;
}

.directions p {
  margin: 0;
}


.form-container {
  margin: 1rem auto;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 0px 8px;
  border-radius: 10px;
  position: absolute;
  top: 45%;
  left: 50%;
  width: 500px;
  margin-top: -250px;
  margin-left: -250px;
  background: rgba(255,255,255, 0.7)
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container form label {
  font-size: 0.8rem;
}

.form-container form input, 
.form-container form textarea, 
.form-container form select {
  border-radius: 5px;
  padding: 9px;
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
  border: none;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px;
}

.form-container form input:focus, 
.form-container form textarea:focus, 
.form-container form select:focus {
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.form-container form input[type="submit"] {
  width: 30%;
  font-weight: 500;
  background-color: var(--magenta);
  padding: 0.5rem;
  border-radius: 6px;
  color: white;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s;
}

.form-container form input[type="submit"]:focus,
.form-container form input[type="submit"]:active {
  outline: none;
  transform: scale(0.95);
}

.entry-form {
  display: flex;
  justify-content: space-between;
}

.ui.button.login-register-button {
  background-color: #EADEDA;
}

.ui.button.login-register-button a {
  color: #32292F;
}

.ui.button.login-register-button:hover {
  background-color: #CACBCD;
}

#welcome {
  position: absolute;
  visibility: hidden;
  opacity: 1;
  background-image: url('./images/Clouds.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  z-index: 9000;
  animation-name: welcoming;
  animation-duration: 5s;
  animation-iteration-count: 1;
}

.welcome-first {
  width: 100vw;
  position: absolute;
  opacity: 0;
  z-index: 9000;
  font-family: 'Bebas Neue', cursive;
  font-size: 10rem;
  animation-name: welcoming;
  animation-duration: 4s;
  animation-iteration-count: 1;
  top: 7rem;
  left: 4rem;
}

.welcome-second {
  width: 100vw;
  position: absolute;
  opacity: 0;
  z-index: 9000;
  font-family: 'Bebas Neue', cursive;
  font-size: 10rem;
  animation-name: welcoming;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
  left: 30rem;
  top: 15rem;
}

.welcome-third {
  width: 100vw;
  position: absolute;
  opacity: 0;
  z-index: 9000;
  font-family: 'Bebas Neue', cursive;
  font-size: 10rem;
  animation-name: welcoming;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  left: 34rem;
  bottom: 5rem;
}

.welcome-fourth {
  width: 100vw;
  position: absolute;
  opacity: 0;
  z-index: 9000;
  font-family: 'Bebas Neue', cursive;
  font-size: 10rem;
  animation-name: welcoming;
  animation-duration: 2.5s;
  animation-delay: 1.5s;
  animation-iteration-count: 1;
  top: 89px;
  left: 38rem;
}

@keyframes welcoming {
  0% {opacity: 0; visibility: visible;}
  25% {opacity: 1; visibility: visible;}
  50% {opacity: 1; visibility: visible;}
  75% {opacity: 1; visibility: visible;}
  100% {opacity: 0; visibility: hidden;}
}

.card-drop-enter {
  opacity: 0;
  transform: translateY(-10%);
}

.card-drop-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 400ms, transform 400ms;
}

.card-drop-exit {
  opacity: 0;
  transform: translateY(-10%);
  transition: .3s ease-in-out;
}

.card-drop-exit-active {
  opacity: 0;
  transition: .3s ease-in-out;
  transition: opacity 300ms, transform 300ms;
}

#main {
  display: flex;
  width: 100%;
}